<h1>Student Details</h1>

<div class="d-flex flex-wrap justify-content-center gap-4" style="width: 100%;">
  <div class="card" style="width: 18rem;">
    <img src="{{ details.images }}" class="card-img-top img-fluid" alt="Image">
    <div class="card-body">
      <h1 class="card-title">{{ details.firstName }} {{ details.lastName }}</h1>
      <p>Age : {{ details.age }}</p>
      <p>Gender : {{ details.gender }}</p>
      <div>
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-github"></i></a>
      </div>

      <p *ngIf="!editMode">Email : {{ details.emailAddress }}</p>
      <div *ngIf="editMode">
        <input type="text" [(ngModel)]="details.emailAddress">
      </div>
      <button *ngIf="editMode" class="btn btn-primary my-3" (click)="editMode = false" [routerLink]="['/student/student-details', details.userId]">Update</button>

      <p>Phone Number : {{ details.phoneNumber }}</p>
      <button class="btn btn-primary">Contact Me</button>
    </div>
    <a [routerLink]="['/student/student-details', 1]">Go to page</a>
  </div>
</div>