.navbar {
  padding: 8px;
  height: 40px;
  background-color: #0f172a;
  margin-bottom: 16px;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 0 16px;
}
.navbar a {
  text-decoration: none;
  color: #f9fafb;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
}
.navbar a:hover {
  background-color: #334155;
}

.active {
  background-color: #334155;
  border-radius: 8px;
}